/* ======================= HERO SECTION CSS ============================== */
.hero_para {
    max-width: 822px;
}

.hero_section {
    background-image: url("./images/png/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}